 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    
    
}
.HD,.NV, .footer,.main {
    width: 100%;
    text-align: center;
    padding: 16px;
    border: 1px solid black;


}

.main{
    text-align: left;
    border: 1px solid black;
}

.content {
    display: flex;

}

.sidebar{
    width: 25%;
    padding: 16px;
    text-align: left;
    border: 1px solid black;
}
.footer {
    
    padding: 10px;
    text-align: center;
}
@media (max-width: 765px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    main {
        width: 100%;
    }
}