.menu {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 24px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            display: flex;
        }

        .menu li {
            display: inline-block;
            padding: 0 10px;
            border-right: 2px solid black;
        }

        .menu li:last-child {
            border-right: none;
        }

        .menu a {
            text-decoration: none;
            color: black;
        }

        .menu a:hover {
            text-decoration: underline;
        }