.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    background-color: lightgray;
    padding: 20px;
}

.grid-item {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    /* .flex-container {
        flex-direction: column;
    } */

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Change to 2 columns */
    }

    .box {
        padding: 10px;
        width: 60%;
    }
}