.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 20px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 5px;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
        .box {
        padding: 10px;
        width: 60%;
    }
}