* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
}

.logo, .navigation, .header-banner, .footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.logo {
    background-color: lightgray;
}

.navigation {
    background-color: #f4f4f4;
}

.header-banner {
    background-color: lightblue;
}

.content {
    display: flex;
    border-bottom: 2px solid black;
}

.sidebar {
    width: 30%;
    padding: 20px;
    text-align: center;
    border-right: 2px solid black;
    background-color: lightyellow;
}

.body-area {
    width: 70%;
    padding: 20px;
    text-align: center;
    background-color: lightgreen;
}

.footer {
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}
